$grey: #696969;

$grass: #3CB371;
$brick: #A52A2A;
$wood: #A0522D;
$asphalt: #A9A9A9;

$fire: #FFD700;
$fire-alt: #FFA500;

$smoke: #696969;
$smoke-alt: #808080;

$fireman: #FFC0CB;
$fireman-alt: #FF69B4;

$water: #00FFFF;

$block-size: 40px;
$water-stream-size: 25px;
