$grey: #696969;

$grass: #3CB371;
$brick: #A52A2A;
$wood: #A0522D;
$asphalt: #A9A9A9;
$water: #4169E1;

$fire: #FFD700;
$fire-alt: #FFA500;

$smoke: #696969;
$smoke-alt: #808080;

$connector: #D3D3D3;
$connector-alt: #C0C0C0;

$selected: #B0E0E6;

$map-border: #B0C4DE;

$block-size: 40px;
$water-stream-size: 25px;
$connector-width: 6px;
$dialogue-width: 100px;
$map-border-width: 2px;
